@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #7BDAF3;
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.add {
    background-color: #9EC862;
    color: #fff;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.note {
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgb(0, 0, 0, 0.1);
    margin: 20px;
    height: 350px;
    width: 400px;
}

.note .tools {
    background-color: #9EC862;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.note .tools button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 0.8rem;
}

.note textarea {
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    width: 100%;
    height: 300px;
    border: none;
    padding: 10px;
}

.note .hidden {
    display: none;
}

.note .tools input.title {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    flex: 0.9;
    font-weight: bold;
}